$page-1-color: steelblue;
$page-2-color: tan;
$page-3-color: teal;
$page-4-color: slateblue;
$page-5-color: darkred;
$light-color: #f4f4f4;
$dark-color: #444;
$ff-title: Arial;
$ff-regular: Arial, Helvetica, sans-serif;
$animate-speed: 2s;
